<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!--   -->
    <div id="app">
         <h1>샌드위치 재료</h1>
         <ul>
           <li v-for="item in list">{{ item }}</li>
          </ul>
       
        <!-- 1. 반복문의 인덱스값 확인 -->
        <ul>
            <li v-for="(item, i) in list">{{ item }}({{ i }})</li>
        </ul>

        <!-- 2. object 반복 -->
        <ul>
            <li v-for="itemv in travelList">{{ itemv.name }}, {{ itemv.distance }}</li>
        </ul>

        <!-- 3. 반응형 리스트, key값 -->
        <ul>
            <li v-for="city in travelList" :key="city.name">{{ city.name }}, {{ city.distance }}</li>
        </ul>
    </div>

    <script>
    new Vue({ 
        el: "#app", 
        data: {
            list : ['식빵', '햄', '치즈', '딸기쨈'],
            travelList : [
                {name: '강릉', distance: '차로 3시간'},
                {name: '부산', distance: '차로 5시간'},
                {name: '춘천', distance: '차로 2시간'},
                {name: '타이베이', distance: '비행기로 3시간'},
                {name: '마닐라', distance: '비행기로 5시간'},
                {name: '스페인', distance: '비행기로 17시간'},
            ]
        }
    })
    </script> 



</body>
</html>